In [7]:
import requests

In [18]:
API_KEY = "eSn1OG1UeBmhKYojYVewFjUtePuf4RS6M5lccGy2VZA1cN8tKY"
API_SECRET = "MGuD8b762zAY9RGisSDEwGGr2nfNEVfpeQkR7RDs"

def get_auth_token():
    """Authenticate with the Petfinder API and return the access token."""
    url = "https://api.petfinder.com/v2/oauth2/token"
    data = {
        "grant_type": "client_credentials",
        "client_id": API_KEY,
        "client_secret": API_SECRET,
    }
    response = requests.post(url, data=data)
    response.raise_for_status()  # Ensure the request was successful
    return response.json()["access_token"]

def count_adoptable_dogs(city, token):
    """Count the total number of adoptable dogs in a specified city."""
    url = "https://api.petfinder.com/v2/animals"
    headers = {"Authorization": f"Bearer {token}"}
    params = {
        "type": "Dog",
        "location": city,
        "limit": 100,  # Adjust as needed, up to the API's max limit
    }
    total_dogs = 0
    page = 1  # Start from the first page

    while True:
        params["page"] = page  # Update the page parameter for each request
        response = requests.get(url, headers=headers, params=params)
        response.raise_for_status()  # Ensure the request was successful
        data = response.json()
        total_dogs += len(data["animals"])  # Add count of dogs in the current page

        # Check if we've reached the last page
        if page >= data["pagination"]["total_pages"]:
            break  # Exit loop if on the last page
        page += 1  # Move to the next page

    return total_dogs

# Authenticate and get the total number of adoptable dogs in New York City
token = get_auth_token()
total_dogs_nyc = count_adoptable_dogs("New York City, NY", token)
print(f"Total number of adoptable dogs in New York City: {total_dogs_nyc}")

Total number of adoptable dogs in New York City: 10392

In [14]:
import requests
import pandas as pd

# Petfinder API credentials
API_KEY = "eSn1OG1UeBmhKYojYVewFjUtePuf4RS6M5lccGy2VZA1cN8tKY"
API_SECRET = "MGuD8b762zAY9RGisSDEwGGr2nfNEVfpeQkR7RDs"

def get_auth_token():
    """Authenticate with the Petfinder API and return the access token."""
    url = "https://api.petfinder.com/v2/oauth2/token"
    data = {
        "grant_type": "client_credentials",
        "client_id": API_KEY,
        "client_secret": API_SECRET,
    }
    response = requests.post(url, data=data)
    response.raise_for_status()  # Ensure the request was successful
    return response.json()["access_token"]

def fetch_adoptable_pets(cities, token):
    """Fetch adoptable pets (cats and dogs) information for specified cities."""
    url = "https://api.petfinder.com/v2/animals"
    headers = {"Authorization": f"Bearer {token}"}
    pets_data = []

    for city in cities:
        for animal_type in ['Cat', 'Dog']:
            params = {
                "type": animal_type,
                "location": city,
                "limit": 100,
            }
            page = 1  # Start from the first page

            while True:
                params["page"] = page
                response = requests.get(url, headers=headers, params=params)
                response.raise_for_status()
                data = response.json()

                for animal in data["animals"]:
                    pets_data.append({
                        "type": animal["type"],
                        "breed": animal["breeds"]["primary"],
                        "location": animal["contact"]["address"]["city"],
                        "color": animal["colors"]["primary"] if animal["colors"]["primary"] else "N/A",
                        "size": animal["size"],
                        "date_posted": animal["published_at"],
                        "name": animal["name"],
                        "status": animal["status"],
                        "gender": animal["gender"]
                    })

                if page >= data["pagination"]["total_pages"]:
                    break
                page += 1

    return pd.DataFrame(pets_data)

# Cities to fetch data for
cities = ["New York City, NY", "Los Angeles, CA", "Chicago, IL", "Houston, TX", "Phoenix, AZ"]

# Authenticate
token = get_auth_token()

# Fetch pets data
pets_df = fetch_adoptable_pets(cities, token)

# Display the DataFrame
print(pets_df.head())

  type                 breed     location           color    size  \
0  Cat   Domestic Short Hair     Woodmere  Orange & White  Medium
1  Cat   Domestic Short Hair     New York    Gray & White   Small
2  Cat   Domestic Short Hair  Trexlertown             N/A  Medium
3  Cat  Domestic Medium Hair    Pittstown           White   Large
4  Cat   Domestic Short Hair  Mount Holly             N/A   Small

                date_posted           name     status  gender
0  2024-02-09T01:22:49+0000             CJ  adoptable    Male
1  2024-02-09T01:15:51+0000  Ron and Harry  adoptable  Female
2  2024-02-09T01:13:49+0000           Luna  adoptable  Female
3  2024-02-09T01:08:33+0000     Sweet pea   adoptable    Male
4  2024-02-09T01:06:28+0000       Robinson  adoptable  Female

In [15]:
# Convert pet adoption data into Pandas Dataframe
adoption_data_df = pd.DataFrame(pets_df)
adoption_data_df.head()

,type,breed,location,color,size,date_posted,name,status,gender
0,Cat,Domestic Short Hair,Woodmere,Orange & White,Medium,2024-02-09T01:22:49+0000,CJ,adoptable,Male
1,Cat,Domestic Short Hair,New York,Gray & White,Small,2024-02-09T01:15:51+0000,Ron and Harry,adoptable,Female
2,Cat,Domestic Short Hair,Trexlertown,N/A,Medium,2024-02-09T01:13:49+0000,Luna,adoptable,Female
3,Cat,Domestic Medium Hair,Pittstown,White,Large,2024-02-09T01:08:33+0000,Sweet pea,adoptable,Male
4,Cat,Domestic Short Hair,Mount Holly,N/A,Small,2024-02-09T01:06:28+0000,Robinson,adoptable,Female

In [16]:
#Export pet adoption data into a csv
adoption_data_df.to_csv("STAK_Project_One/Resources/adoption.csv", index_label="Animal_ID")

In [17]:
#Read saved data
adoption_data_df = pd.read_csv("STAK_Project_One/Resources/adoption.csv", index_col="Animal_ID")

#Display sample data
adoption_data_df.head()

,type,breed,location,color,size,date_posted,name,status,gender
Animal_ID,,,,,,,,,
0,Cat,Domestic Short Hair,Woodmere,Orange & White,Medium,2024-02-09T01:22:49+0000,CJ,adoptable,Male
1,Cat,Domestic Short Hair,New York,Gray & White,Small,2024-02-09T01:15:51+0000,Ron and Harry,adoptable,Female
2,Cat,Domestic Short Hair,Trexlertown,NaN,Medium,2024-02-09T01:13:49+0000,Luna,adoptable,Female
3,Cat,Domestic Medium Hair,Pittstown,White,Large,2024-02-09T01:08:33+0000,Sweet pea,adoptable,Male
4,Cat,Domestic Short Hair,Mount Holly,NaN,Small,2024-02-09T01:06:28+0000,Robinson,adoptable,Female